#display, #history{
    text-align: right;
}

#corpo{
    margin-top: 10px;
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(68, 67, 67);
}

#keyboard > button{
    margin-right: 5px;
    margin-top: 5px;
    font-weight: bolder;
}

#keyboard, #specials, #func{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

#specials, #func{
    font-weight: bolder;
}

button + sup{
    color: white;
}